<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipe Laying Details</title>
</head>

<body>
    <div class="container">
        <div class="title">{% if pipe %}Update Record{% else %}Add Pipe Laying Information{% endif %}</div>

        <form
            action="{% if pipe %}{% url 'update_pipe_record' pipe.id %}{% else %}{% url 'save_pipe_details' %}{% endif %}"
            method="post">

            {% csrf_token %}
            <div>
                {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            </div>
            


            <div class="user-details">


                <div class="input-box">
                    <span class="details">Name<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="label" id="label"
                        value="{% if pipe %}{{ pipe.label }} {% endif %}" required>
                </div>

                <div class="input-box">
                    <span class="details">Start Node<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="start_node" id="start_node"
                        value="{% if pipe %}{{ pipe.start_node }} {% endif %}" required>
                </div>

                <div class="input-box">
                    <span class="details">Stop Node<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="stop_node" id="stop_node"
                        value="{% if pipe %}{{ pipe.stop_node }} {% endif %}" required>
                </div>

                <div class="input-box">
                    <span class="details">Length<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="length" id="length"
                        value="{% if pipe %}{{ pipe.length }} {% endif %}" required>
                </div>

                <div class="input-box">
                    <span class="details">Inner Diameter<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="diameter_id" id="diameter_id"
                        value="{% if pipe %}{{ pipe.diameter_id }} {% endif %}" required>
                </div>

                <div class="input-box">
                    <span class="details">Outer Diameter<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="diameter_od" id="diameter_od"
                        value="{% if pipe %}{{ pipe.diameter_od }} {% endif %}" required>
                </div>

                <div class="input-box">
                    <span class="details">Material<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="material" id="material"
                        value="{% if pipe %}{{ pipe.material }} {% endif %}" required>
                </div>

                <div class="input-box">
                    <span class="details">Laying Length</span>
                    <input type="text" placeholder="Enter Stock Name" name="laying_length" id="laying_length"
                        value="{% if pipe and pipe.laying_length %}{{ pipe.laying_length }}{% endif %}">

                </div>

                <div class="input-box">
                    <span class="details">Balance Laying<span style="color: red"> *</span></span>
                    <input type="text" placeholder="Enter Stock Name" name="balance_laying" id="balance_laying"
                        value="{% if pipe %}{{ pipe.balance_laying }} {% endif %}" required>
                </div>

                <div class="button">
                    <input type="submit" value="{% if pipe %}Update{% else %} Add Record{% endif %}">
                </div>
            </div>

        </form>

    </div>
</body>

</html>